* {
    font-family: Helvetica, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button{
    border-radius: 5px;
    border-color: rgb(249, 153, 184);
    background-color: rgb(249, 153, 184);
    color: rgb(40, 41, 41);
    text-align: center;
    padding: 5px;
}

